@use "../../../styles/base";

.navbar__links {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .navbar__links {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .navbar__links {
    display: none;
  }
}
