@use "../../../../styles/base";

.editor__text-multi-line {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  counter-increment: line-counter;
  padding: 0em 0em 0em 0em;
  max-width: 100%;
  background-color: base.$white;
  min-height: 22px;
  line-height: 22px;
  cursor: text;

  &:hover {
    background-color: base.$black-5;

    &::before {
      background-color: base.$black-10;
    }
  }
  &:selected {
    border-top: 1px solid base.$black-25;
    border-bottom: 1px solid base.$black-25;
    background-color: base.$black-5;
  }
}

.editor__text-multi-line_content {
  padding: 0em 0em 0em 15px;
  &::selection {
    background-color: none;
    color: black;
  }
}

.editor__text-multi-line--active {
  background-color: base.$black-5;

  &::before {
    background-color: base.$black-10;
  }
}

.editor__text-line {
  position: relative;
  width: 100%;
  height: 100%;
  height: 22px;
  max-height: 22px;
  padding: 0em 1em;
}

.format__command,
.format__command-arg,
.format__text,
.format__comment {
  white-space: pre;
}

.editor__text-editor-source--default-style {
  .format__command {
    color: rgb(95, 120, 232);
    font-weight: 600;
  }
  .format__command-arg {
    color: rgb(123, 52, 194);
  }
  .format__comment {
    color: rgb(16, 129, 63);
  }
}
