// * {
//   margin: 0px;
//   padding: 0px;
//   text-decoration: none;
// }

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 0.875rem;
  height: auto;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1em;
}

.folder-list-item {
  .folder-list-item-buttons {
    display: none;
  }
}

.folder-list-item:hover {
  background-color: aliceblue;
  .folder-list-item-buttons {
    display: block;
  }
}

.editor {
  height: 90vh;
  outline: none;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}
