@use "../../styles/base";

.editor__file-list_container {
  grid-area: 1/1/3/2;
  min-width: 250px;
  width: 250px;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid base.$primary;
}
.editor__file-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid base.$primary;
}
.editor__file-controls_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  background-color: base.$white;
  color: base.$black;
  font-weight: 700;
  font-size: 20px;
  transition: all 200ms;
  border: 0px;
  border-right: 1px solid base.$black-50;

  &:hover {
    background-color: base.$ternary;
    color: base.$black;
  }
}
.editor__file-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0em 1em;
}

.editor__file-list_header {
  padding: 0.2em;
  width: 70%;
  margin: 2em 0em 0.3em 0.8em;
}
