@use "../../../styles/base";

.editor__file-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 20px;
  cursor: pointer;
  color: base.$black;
  justify-content: center;
  align-items: center;
  padding: 1em;

  &:hover {
    .editor__file-list-item-name {
      padding: 0em 0em 0em 1em;
      &::before {
        opacity: 1;
      }
    }
  }
}

.editor__file-list-item--active {
  .editor__file-list-item-name {
    padding: 0em 0em 0em 1.2em;
    &::before {
      background-color: base.$primary;
      opacity: 1;
    }

    p {
      font-weight: 500;
    }
  }

  &:hover {
    .editor__file-list-item-name {
      padding: 0em 0em 0em 1.2em;
      &::before {
        opacity: 1;
      }
    }
  }
}

.editor__file-list-item-name {
  flex: 1;
  position: relative;
  transition: all ease-out 0.2s;

  &::before {
    content: "";
    width: 8px;
    height: 4px;
    background-color: base.$primary;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    border-radius: 50%;
    opacity: 0;
    transition: all ease-in 0.3s, all ease-out 0.2s;
  }

  p {
    font-size: 16px;
  }
}

.editor__file-list-item-controls {
  flex: 0;
}
