@use "../../../styles/base";

.navbar__cta {
  padding: 0 2rem;

  a {
    padding: 1rem 3rem;
    background-color: base.$black;
    color: base.$white;
    border-radius: 5px;
    font-weight: 600;
    transition: all 200ms;
  }
  a:hover {
    background-color: base.$ternary;
    color: base.$black;
  }
}
